In [1]:
import numpy as np
import pandas as pd
from parse import compile, parse

In [26]:

eigval_fmt = "DATA EIGENVALUES (Sxx_d,Syy_d,Szz_d)   {:2.4e} {:2.4e} {:2.4e}"
eigvec_fmt = "DATA EIGENVECTORS {:1}_AXIS {:2.4e} {:2.4e} {:2.4e}"
euler_angs_fmt = "DATA EULER_ANGLES {:7.2f} {:7.2f} {:7.2f}"

print(parse(eigval_fmt, "DATA EIGENVALUES (Sxx_d,Syy_d,Szz_d)    3.2786e-04  5.1444e-04 -8.4230e-04"))
print(parse(eigvec_fmt, "DATA EIGENVECTORS X_AXIS -1.4703e-01  9.2360e-01 -3.5404e-01"))

print(parse(euler_angs_fmt, "DATA EULER_ANGLES -205.00 -25.30  260.64"))

<Result (0.00032786, 0.00051444, -0.0008423) {}>
<Result ('X', -0.14703, 0.9236, -0.35404) {}>
<Result (-205.0, -25.3, 260.64) {}>

In [15]:
def _get_lines_to_skip(filename):
    # format_string = """FORMAT %4d %4s %4s %9.3f %9.3f %9.3f %9.3f %9.3f %9.3f"""
    format_string = r"FORMAT  %4d %4s %4s %4d %4s %4s %9.2f %9.3f %9.3f %9.3f %.2f %.2f"
    handle = open(filename)
    for i, line in enumerate(handle):
        if line.find(format_string) != -1:
            return i + 2

    raise Exception


names = [
    "RESID_I",
    "RESNAME_I",
    "ATOMNAME_I",
    "RESID_J",
    "RESNAME_J",
    "ATOMNAME_J",
    "DI",
    "D_OBS",
    "D",
    "D_DIFF",
    "DD",
    "W",
]

lines_to_skip = _get_lines_to_skip("example.pal")

df = pd.read_table(
    "example.pal",
    names=names,
    header=None,
    sep=r"\s+",
    skiprows=lines_to_skip,
)

In [23]:
df.columns

Index(['RESID_I', 'RESNAME_I', 'ATOMNAME_I', 'RESID_J', 'RESNAME_J',
       'ATOMNAME_J', 'DI', 'D_OBS', 'D', 'D_DIFF', 'DD', 'W'],
      dtype='object')

In [24]:

df.drop(columns=["RESNAME_I", "RESNAME_J"]).set_index(
    [
        "RESID_I",
        "ATOMNAME_I",
        "RESID_J",
        "ATOMNAME_J",
    ],
)

,,,,DI,D_OBS,D,D_DIFF,DD,W
RESID_I,ATOMNAME_I,RESID_J,ATOMNAME_J,,,,,,
2,N,2,HN,-21585.20,10.0,-9.6318,19.6318,1.000,1.0
3,N,3,HN,-21585.20,10.0,7.0508,2.9492,1.000,1.0
4,N,4,HN,-21585.20,10.0,9.7297,0.2703,1.000,1.0
5,N,5,HN,-21585.20,10.0,9.2280,0.7720,1.000,1.0
6,N,6,HN,-21585.20,10.0,7.8157,2.1843,1.000,1.0
...,...,...,...,...,...,...,...,...,...
72,HN,71,CA,3885.43,10.0,0.6564,9.3436,0.333,3.0
73,HN,72,CA,3639.69,10.0,-1.3320,11.3320,0.333,3.0
74,HN,73,CA,3890.57,10.0,0.8724,9.1276,0.333,3.0
75,HN,74,CA,4007.81,10.0,-0.9452,10.9452,0.333,3.0
76,HN,75,CA,4061.76,10.0,-0.7774,10.7774,0.333,3.0